@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Animations */
@layer utilities {
  .animate-in {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}
